.navbar {
    box-shadow: 0.1vh 0.1vw 0.1vh rgba(190, 190, 190, 0.5)
}

button:focus {
    outline: none !important;
}

.btn:active {
    outline-style: none;
    filter: brightness(95%);
    transition: 0.3s ease;
}