button:focus {
    outline: none !important;
}

.btn:active {
    outline-style: none;
    filter: brightness(95%);
    transition: 0.3s ease;
}

.monthContainer {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-self: center;
}

.arrow {
    border-style: none;
    font-size: 30px;
    padding: 0 20px;
    transition: 0.3s ease;
    background: none;
}

.previous:hover {
    margin-right: 10px;
    margin-left: -10px;
    transition: 0.3s ease;
}

.next:hover {
    margin-left: 10px;
    margin-right: -10px;
    transition: 0.3s ease;
}

.arrow:focus {
    outline: none;
}

.month {
    display: block;
    font-size: 30px;
    margin: 0 2vw;
    transition: 0.3s ease;
}